h1 {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63996.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
